.container {
  @apply
    /* Sizing */
    max-w-5xl
    /* Spacing */
    my-0
    mx-auto
    px-6 lg:px-4;
}

.flexCenterStart {
  @apply
    /* Flexbox & Grid */
    flex flex-col
    justify-center
    items-start;
}

.flexCenter {
  @apply
    /* Flexbox & Grid */
    flex flex-col
    justify-center
    items-center;
}

.flexCenterEnd {
  @apply
    /* Flexbox & Grid */
    flex flex-col
    justify-center
    items-end;
}
