.title {
  @apply
    /* Typography */
    font-helvnueu-black
    text-[4rem] sm:text-8xl lg:text-9xl
    leading-none
    text-transparent
    /* Background */
    bg-clip-text
    bg-gradient-to-r
    from-zinc-800
    via-zinc-800
    to-black;
}

.highlight {
  @apply
    /* Typography */
    text-transparent
    /* Background */
    bg-clip-text
    bg-gradient-to-r
    from-sky-magenta
    via-sky-magenta
    to-blue-violet;
}
