.canvas {
  @apply
    /* Layout */
    overflow-hidden
    absolute
    inset-0
    -z-20;
}

.items {
  @apply
    /* SVG */
    [&>svg]:fill-zinc-900
    /* Sizing */
    [&>svg]:w-16
    [&>svg]:h-auto
    /* Layout */
    [&>svg]:absolute
    /* Effects */
    [&>svg]:opacity-0;
}
