.buttonBurger {
  @apply
    /* Sizing */
    w-12 md:w-14
    h-12 md:h-14
    /* Layout */
    relative
    /* Background */
    bg-gradient-to-bl
    from-blue-300
    to-button-blue
    /* Border */
    rounded-r-[3rem]
    rounded-tl-[3rem]
    rounded-bl-[1.1rem]
    /* Shadow */
    shadow-lg-c
    shadow-cadmium-yellow
    /* Transforms */
    rotate-45 hover:rotate-0
    /* Transitions & Animation */
    transition-transform
    duration-500;
}

.buttonBurgerSticks {
  @apply
    /* Sizing */
    w-5 md:w-6
    h-0.5 md:h-[0.188rem]
    after:w-5 after:md:w-6
    after:h-0.5 md:after:h-[0.188rem]
    /* Background */
    bg-blue-violet
    after:bg-blue-violet
    /* Layout */
    absolute
    -top-2 md:-top-3
    right-0
    bottom-0
    left-0
    after:absolute
    after:top-2 md:after:top-3
    after:right-0
    after:bottom-0
    after:left-0
    /* Spacing */
    m-auto
    /* Border */
    rounded-full
    after:rounded-full
}
