.text {
  @apply
    /* Sizing */
    ml-2.5 sm:ml-3 lg:ml-4
    /* Typography */
    font-proxnova-regular
    sm:text-xl lg:text-2xl
    text-transparent
    /* Background */
    bg-clip-text
    bg-gradient-to-r
    from-zinc-800
    via-zinc-800
    to-black;
}

.icon {
  @apply
    /* Sizing */
    w-3.5 sm:w-4 lg:w-5;
}
